body {
  color: black;
}

/* header */
header {
  background-color: aqua;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  border:1px solid #000000;
}

/* main */
main {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 10px;
}

section {
  background-color: #CEDEF2;
  border-radius: 20px;
  width: 80%;
  height: 80%;
  border: 2px solid #000000;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  padding: 20px;
  border-radius: 17px 17px 0 0;
  background-color: #2f4661;
}

.container-header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-body {
  height: 100%;

  display: grid;
  grid-template-areas: 
  "thead"
  "tbody"
  "tfoot";

  grid-template-rows: 50px 1fr 50px;
}

thead{
  grid-area: thead;
  border-bottom: 1px solid #000000;
}

tbody{
  grid-area: tbody;
  border-bottom: 1px solid #000000;
}

tfoot{
  grid-area: tfoot;
}

/* footer */
footer {
  background-color: aqua;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  border:1px solid #000000;
}
