body {
  background-color: #1e1e1e;
  color: white;
}

/* header */
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

/* main */
main {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 10px;
}

section {
  background-color: #652c80;
  border-radius: 20px;
  width: 100rem;
  height: 800px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  padding: 20px;
}

.container-header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-body {
  height: 100%;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
