/* Global configs */
:root {
  --green-500: #25aa3f;
  --green-600: #00a020;
  --red-500: #ed5041;
  --red-600: #e83030;
  --orange-500: #ffb31a;
  --orange-600: #e69900;
  --bg-p-100: hsl(220, 70%, 60%);
  --bg-p-200: hsl(230, 70%, 60%);
  --bg-p-300: hsl(250, 50%, 55%);
  --bg-p-500: hsl(235, 50%, 30%);
}

body {
  background-color: var(--bg-p-500);
  color: #000;
}

a {
  text-decoration: none;
  height: 0;
}

/* header */
header {
  background: linear-gradient(to right, var(--bg-p-100), var(--bg-p-300));
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  border: 1px solid #000000;
}

/* main */
main {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 10px;
}

section {
  background: var(--bg-p-100);
  box-shadow: 0px 0px 100px 1px var(--bg-p-100);
  border-radius: 20px;
  width: 80%;
  height: 80%;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* container header */

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  padding: 20px;
  border-bottom: 2px solid #000;
  border-radius: 17px 17px 0 0;
  background: linear-gradient(var(--bg-p-700), var(--bg-100));
}

.container-header h1 {
  font-weight: 500;
  font-size: 2rem;
}

.container-header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 550px;
  width: 80%;
  gap: 20px;
}

.button {
  cursor: pointer;
  border-style: none;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;

  height: 40px;
  border-radius: 10px;
  color: white;
}

/* buttons */

.delete {
  width: 35%;
  background-color: var(--red-500);
  border: 1px solid var(--red-600);
  color: white;
  transition: all 0.3s;
}

.delete:hover {
  transition: all 0.1s;
  background-color: var(--red-600);
}

.add {
  width: 60%;
  background: var(--green-500);
  border: 1px solid var(--green-600);
}

.add:hover {
  transition: all 0.1s;
  background-color: var(--green-600);
}

.edit {
  width: 60%;
  background: var(--orange-500);
  border: 1px solid var(--orange-600);
}

.edit:hover {
  transition: all 0.1s;
  background: var(--orange-600);
}

/* buttons on container header */

.container-header-buttons > form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 38px;
  background-color: #fff;
  border-radius: 20px;
}

.container-header-buttons > form input {
  border-style: none;
  outline-style: none;
  background: transparent;

  position: absolute;
  left: 0;
  width: 90%;
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
}

.container-header-buttons > form button {
  background: transparent;
  outline-style: none;
  border-style: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: hsla(270, 5%, 5%, 0.2);
  backdrop-filter: blur(3px) saturate(100%) contrast(100%);
  -webkit-backdrop-filter: blur(6px) saturate(120%) contrast(100%);
}

/* Modal Content */
.modal-content {
  display: none;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f4f3f1;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 25em;
  border-radius: 10px;
}

.modal-content h1 {
  font-weight: 600;
  margin-bottom: 5%;
}

.modal-content > .x-close {
  cursor: pointer;
  border-style: none;
  width: 20px;
  position: absolute;
  right: 30px;
  transition: all 0.2s;
}

.modal-content > .x-close:hover {
  transition: all 0.1s;
  color: var(--red-600);
}

.modal-content hr {
  border: px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-bottom: 5%;
}

.modal-content div {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, var(--bg-p-100), var(--bg-p-500));
  width: 100%;
  gap: 20px;
}

.modal-content div > button {
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  height: 70%;
  width: 30%;
  border-style: none;
  border-radius: 10px;
}

.modal-content div > button:first-child {
  background: rgb(148, 145, 145);
  color: black;
}

.modal-content div > button:first-child:hover{
  background-color: gray;
}


.modal-content div > button:first-child ~ hr {
  display: none;
}

/* modal delete */
.modal-content-delete {
  height: 50%;
}

.modal-content-delete h1 {
  color: var(--red-600);
}

.modal-content-delete small {
  color: var(--orange-500);
  font-weight: 600;
}

.modal-content-delete div {
  height: 20%;
  padding: 5px;

}

/* Modal Add */
.modal-content-add {
  height: 70%;
}

.modal-content-add h1 {
  color: var(--green-600);
}

.modal-content-add form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

form input{
  font-size: 1rem;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  border-style:none;
  border: 1px solid #bbb;
}

.modal-content-add div {
  width: 100%;
  padding: 10px;
  height: 15%;
}


/* Modal Update */

.modal-content-update {
  height: 70%;
}

.modal-content-update h1 {
  color: var(--orange-500);
}

.modal-content-update form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.modal-content-update div {
  padding: 10px;
  height: 15%;
}

/* Container Body */
.fa-trash {
  color: var(--red-500);
}

.fa-pen {
  color: #ffbf21;
}
 
.container-body {
  margin: 0px 15px 0px 15px;
  border-collapse: collapse;
} 

.nonstyle-button {
  cursor: pointer;
  border-style: none;
  background: transparent;
}

.topicos-container{
  text-align: justify;
  height: 50px;
}

tbody tr{
  height: 40px;
}

tbody tr:nth-child(odd){
  background-color:var(--bg-p-200);
}

td.actions {
  text-align: start;
}

td.actions button {
  margin-inline: 5%;
}

/* footer */
footer {
  background: linear-gradient(to right, var(--bg-p-100), var(--bg-p-300));
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3px;
  gap: 20px;
  width: 100vw;
  height: 50px;
  border: 1px solid #000000;
}

.social-links {
  position: relative;
  background: var(--bg-p-100);
  background: linear-gradient(to bottom, var(--bg-p-100), var(--bg-p-500));
  width: 50px;
  padding: 3px;
  height: 42px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s;
}

.icone-gen {
  width: 45px;
}

.social-links img {
  position: absolute;
  bottom: 3px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #000;
}

.social-links:hover {
  transition-timing-function: ease-out;
  border-radius: 20px;
  height: 200px;
  border: 1px solid var(--bg-p-500);
}

.social-links a,
.social-links i {
  transition: opacity 0.5s, display 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}

.fa-linkedin {
  color: #000;
}

.fa-instagram {
  color: #000;
}

.fa-github {
  color: #000;
}

.social-links:hover a,
.social-links:hover i {
  transition: opacity 1s, display 1s, visibility 1s;

  opacity: 1;
  display: block;
  visibility: visible;
}
