:root {
  /* --bg-p-diff: #593954; */
  /* --bg-p-100: #038c8c; */
  --bg-p-100: hsl(220, 70%, 60%);
  --bg-p-300: hsl(250, 50%, 55%);
  --bg-p-500: hsl(235, 50%, 30%);;
  /* --bg-p-700: #013440; */
}

body {
  
  background-color:  var(--bg-p-500);
  color: #000;
}

a {
  text-decoration: none;
  height: 0;
}

/* header */
header {
  background: linear-gradient(to right, var(--bg-p-100), var(--bg-p-300));
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  border:1px solid #000000;
}

/* centering */
main {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 10px;
}

section {
  background: linear-gradient(to right, var(--bg-p-100), var(--bg-p-300));
  box-shadow: 0px 0px 100px 1px var(--bg-p-100);
  border-radius: 20px;
  width: 80%;
  height: 80%;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* container header */

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  padding: 20px;
  border-bottom: 2px solid #000;
  border-radius: 17px 17px 0 0;
  background: linear-gradient(var(--bg-p-700), var(--bg-100));
}

.container-header h1 {
  font-weight: 500;
  font-size: 2rem;
}

.container-header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  width: 80%;
  gap: 20px;
}

.button {
  cursor: pointer;
  border-style: none;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
  
  height: 40px;
  border-radius: 10px;
  color: white;
}

  /* add hover */

.delete {
  width: 35%;
  background: #ed5041;
  border: 1px solid #8f1426;
}

.add {
  width: 60%;
  background: #25aa3f;
  border: 1px solid #08661a;
}

.container-header-buttons > form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 38px;
  background-color: #fff;
  border-radius: 20px;
}


.container-header-buttons > form input {
  border-style: none;
  outline-style: none;
  background: transparent;

  position: absolute;
  left: 0;
  width: 90%;
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
}

.container-header-buttons > form button {
  background: transparent;
  outline-style: none;
  border-style: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

/* Container Body */

.fa-trash {
  color: #ed5041;
}

.fa-pen {
  color: #ffbf21;
}

.table {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  display: grid;
  grid-template-areas: 
  "thead"
  "tbody"
  "tfoot";

  grid-template-rows: 50px 1fr 50px;
}

thead{
  grid-area: thead;
  border-bottom: 1px solid #000000;
}

tbody{
  grid-area: tbody;
  border-bottom: 1px solid #000000;
}

tfoot{
  grid-area: tfoot;
}

/* footer */
footer {
  background: linear-gradient(to right, var(--bg-p-100), var(--bg-p-300));
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3px;
  gap: 20px;
  width: 100vw;
  height: 50px;
  border:1px solid #000000;
}

.social-links {
  position: relative;
  background: var(--bg-p-100);
  background: linear-gradient(to bottom, var(--bg-p-100), var(--bg-p-500));
  width: 50px;
  padding: 3px;
  height: 42px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: all .4s;
}

.icone-gen {
  width: 45px;
}

.social-links img {
  position: absolute;
  bottom: 3px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #000;
}

.social-links:hover {
  transition-timing-function: ease-out;
  border-radius: 20px;
  height: 200px;
  border: 1px solid var(--bg-p-500);
}

.social-links a, .social-links i  {
  transition: opacity .5s, display .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  
}

.fa-linkedin {
  color: #000;

}

.fa-instagram {
  color: #000;

}

.fa-github {
  color: #000;
}

.social-links:hover a, .social-links:hover i{
  transition: opacity 1s, display 1s, visibility 1s;
  
  opacity: 1;
  display: block;
  visibility: visible;
}